/* border width relations for equilateral triangle: border-bottom = 1.73 * border-right and border-right = border-left */

.position-one {
  top: 2rem;
  left: 8rem;
  background-color: green;
  animation-delay: -1s;
  /* transform: scale(0.5); */
}

.position-two {
  left: 10rem;
  background-color: blue;
  animation-delay: -0.5s;
}

.position-three {
  top: 5rem;
  background-color: pink;
  animation-delay: -2s;
}

.position-four {
  top: 2.4rem;
  right: 9rem;
  background-color: red;
  animation-delay: -2.5s;
}

.position-five {
  top: -8rem;
  left: -3rem;
  background-color: orange;
  animation-delay: -1.5s;
}

.position-six {
  top: 4rem;
  left: -10rem;
  background-color: teal;
  animation-delay: -0.5s;
}

.position-seven {
  top: 6rem;
  left: -7rem;
  background-color: burlywood;
}
.position-eight {
  left: -3rem;
  background-color: darkmagenta;
  animation-delay: -2s;
}

.project-triangle-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* justify-content: center; */
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
}

.project-row {
  display: flex;
  justify-content: center;
}

.project-row > div {
  animation-name: levitation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.project-row > div:hover {
  animation-play-state: paused;
}

/* .projects-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rosybrown;
} */
