/* border width relations for equilateral triangle: border-bottom = 1.73 * border-right and border-right = border-left */
.position-one {
  background-color: green;
  animation-delay: -1s;
}

.position-two {
  background-color: blue;
  animation-delay: -0.5s;
}

.position-three {
  background-color: pink;
  animation-delay: -2s;
}

.position-four {
  background-color: red;
  animation-delay: -2.5s;
}

.position-five {
  background-color: orange;
  animation-delay: -1.5s;
}

.position-six {
  background-color: teal;
  animation-delay: -0.5s;
}

.position-seven {
  background-color: burlywood;
}

.position-eight {
  background-color: darkmagenta;
  animation-delay: -2s;
}

.project-triangle-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;

  box-sizing: border-box;
  padding: 30px;

  width: 100%;
  max-width: 2300px;
  height: 100%;
}

/* .project-triangle-container > figure {
  animation-name: levitation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
} */
/* 
.project-triangle-container > figure:hover {
  animation-play-state: paused;
} */

/* classes for small screen */
.project-square-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
  gap: 30px;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1160px) {
  .position-four {
    top: 0rem;
  }
}

@media only screen and (min-width: 1660px) {
  .position-four {
    top: -4rem;
  }

  .position-five {
    top: 1rem;
  }
}

@media only screen and (min-width: 2160px) {
  .position-four {
    top: 0rem;
  }
}
/* .projects-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rosybrown;
} */
