#root {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

/* header */
.logo-container {
  background-color: aqua;
  padding: 20px;
  text-transform: uppercase;
}

.logo {
  font-family: SquadaOne;
  font-size: 4rem;
}

.logo-container p {
  font-family: SplineSans;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

nav {
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 10px;
  background-color: yellow;

  font-size: 1rem;
  text-transform: lowercase;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 300px;

  list-style: none;
}

nav a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: var(--nav-text-color);
  text-decoration: none;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0.9em;
  left: -10%;
  width: 120%;
  height: 0.1em;
  background-color: hotpink;
  transform: scale(0);
  transform-origin: center;
  transition: transform 300ms;
}

nav a:hover::after,
nav a:focus::after,
nav a:active::after {
  transform: scale(1);
}

nav a:focus::after {
  z-index: -10;
}

nav a:active::after {
  mix-blend-mode: exclusion;
}

header,
nav {
  filter: grayscale(0%);
  transition: filter 0.5s ease;
}

.grayscale {
  filter: grayscale(100%);
}

/* main content */

main {
  display: flex;
  justify-content: center;
  flex: 1;
}

@keyframes levitation {
  0% {
    transform: scale(1) translate3d(0em, 0em, 0em);
  }
  50% {
    transform: scale(1.05) translate3d(-0.4em, -0.4em, 0em);
  }
  100% {
    transform: scale(1) translate3d(0em, 0em, 0em);
  }
}

.project-triangle-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* justify-content: center; */
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
}

/* body .project-row > div:not(:hover) {
  filter: grayscale(100%);
} */

.project-row {
  display: flex;
  justify-content: center;
}

.project-row > div {
  animation-name: levitation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.project-row > div:hover {
  animation-play-state: paused;
}

.triangle-up {
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.triangle-down {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.triangle-xs {
  width: var(--xs-triangle-width);
  height: calc(0.87 * var(--xs-triangle-width));
}

.triangle-small {
  width: var(--small-triangle-width);
  height: calc(0.87 * var(--small-triangle-width));
}

.triangle-medium {
  width: var(--medium-triangle-width);
  height: calc(0.87 * var(--medium-triangle-width));
}

.triangle-large {
  width: var(--large-triangle-width);
  height: calc(0.87 * var(--large-triangle-width));
}

/* border width relations for equilateral triangle: border-bottom = 1.73 * border-right and border-right = border-left */

.position-one {
  top: 2rem;
  left: 8rem;
  background-color: green;
  animation-delay: -1s;
  /* transform: scale(0.5); */
}

.position-two {
  left: 10rem;
  background-color: blue;
  animation-delay: -0.5s;
}

.position-three {
  top: 5rem;
  background-color: pink;
  animation-delay: -2s;
}

.position-four {
  top: 2.4rem;
  right: 9rem;
  background-color: red;
  animation-delay: -2.5s;
}

.position-five {
  top: -8rem;
  left: -3rem;
  background-color: orange;
  animation-delay: -1.5s;
}

.position-six {
  top: 4rem;
  left: -10rem;
  background-color: teal;
  animation-delay: -0.5s;
}

.position-seven {
  top: 6rem;
  left: -7rem;
  background-color: burlywood;
}
.position-eight {
  left: -3rem;
  background-color: darkmagenta;
  animation-delay: -2s;
}

.about-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  position: relative;
  right: 5em;
}

.profile-photo {
  align-self: center;
  background-color: burlywood;
}

.about-triangle-container {
  height: 100%;
}

.about-triangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about-first-triangle {
  position: relative;
  top: 0em;
  background-color: greenyellow;
}

.about-first-triangle > div {
  position: absolute;
  top: 2.6em;
}

.about-second-triangle {
  position: relative;
  left: 12em;
  bottom: 4em;
  background-color: orangered;
}

.about-second-triangle > div {
  position: absolute;
  bottom: 1.2em;
}

.about-third-triangle {
  position: relative;
  right: 5em;
  bottom: 6em;
  background-color: palevioletred;
}

.about-third-triangle > div {
  position: absolute;
  bottom: 1em;
}

.contact-container {
  position: relative;
  top: 5vh;
  width: calc(2 * var(--medium-triangle-size));
  height: calc(0.86 * var(--medium-triangle-width));
}

.contact {
  position: relative;
  background-color: olivedrab;
}

.contact-triangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  z-index: 8;
  top: 4rem;
  height: 25%;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  /* background: orange; */
  flex: 1;
  width: 35%;
  border-radius: 12px;
  /* overflow: hidden; */
}

.contact-triangle button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.2em 0.6em;
  background-color: white;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
}

.contact-triangle button::after {
  content: "";
  position: absolute;
  border-radius: 12px;
  background-image: linear-gradient(hotpink, hotpink),
    linear-gradient(orange, orange);
  background-size: 0% 100%, 100% 100%;
  background-position: 0% 100%, 100% 0;
  background-repeat: no-repeat, no-repeat;
  width: calc(100% + 0.6em);
  height: calc(100% + 0.6em);
  transform: translate3d(0%, 0, -1em);
  transition: background-size 1s ease;
}

.contact-triangle button:hover::after,
.contact-triangle button:focus::after {
  background-size: 100% 100%, 0 100%;
}

.contact-triangle button:active {
  background-color: hotpink;
}

.contact-triangle button:active::after {
  transition: none;
  background-color: hotpink;
}

.contact-triangle p {
  animation-name: tilt-n-move-shaking;
  animation-iteration-count: infinite;
  animation-duration: 0.9s;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(3deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-3deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
