#root {
  text-align: center;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

/* header */
.logo-container {
  background-color: aqua;
  padding: 20px;
  text-transform: uppercase;
}

.logo {
  font-family: SquadaOne;
  font-size: 4rem;
}

.logo-container p {
  font-family: SplineSans;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

nav {
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 10px;
  background-color: yellow;

  font-size: 1rem;
  text-transform: lowercase;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 300px;

  list-style: none;
}

nav a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: var(--nav-text-color);
  text-decoration: none;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0.9em;
  left: -10%;
  width: 120%;
  height: 0.1em;
  background-color: hotpink;
  transform: scale(0);
  transform-origin: center;
  transition: transform 300ms;
}

nav a:hover::after,
nav a:focus::after,
nav a:active::after {
  transform: scale(1);
}

nav a:focus::after {
  z-index: -10;
}

nav a:active::after {
  mix-blend-mode: exclusion;
}

/* main content */

.triangle {
  position: relative;
  z-index: 5;
  width: 0;
  height: 0;
}

/* border width relations for equilateral triangle: border-bottom = 1.73 * border-right and border-right = border-left */

.project-triangle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  padding: 30px;
}

.small-up {
  border-left: var(--small-triangle-size) solid transparent;
  border-right: var(--small-triangle-size) solid transparent;
  border-bottom: calc(1.73 * var(--small-triangle-size)) solid yellow;
}

.small-down {
  border-left: var(--small-triangle-size) solid transparent;
  border-right: var(--small-triangle-size) solid transparent;
  border-top: calc(1.73 * var(--small-triangle-size)) solid violet;
}

.medium-up {
  border-left: var(--medium-triangle-size) solid transparent;
  border-right: var(--medium-triangle-size) solid transparent;
  border-bottom: calc(1.73 * var(--medium-triangle-size)) solid red;
}

.medium-down {
  border-left: var(--medium-triangle-size) solid transparent;
  border-right: var(--medium-triangle-size) solid transparent;
  border-top: calc(1.73 * var(--medium-triangle-size)) solid green;
}

.large-up {
  border-left: var(--large-triangle-size) solid transparent;
  border-right: var(--large-triangle-size) solid transparent;
  border-bottom: calc(1.73 * var(--large-triangle-size)) solid blue;
}

.large-down {
  border-left: var(--large-triangle-size) solid transparent;
  border-right: var(--large-triangle-size) solid transparent;
  border-top: calc(1.73 * var(--large-triangle-size)) solid orange;
}

.position-one {
  top: 20px;
}

/* .position-two {
  left: 200px;
} */

.position-three {
  top: 40px;
}

.position-four {
  top: 50px;
}

.position-five {
  top: -80px;
  /* left: -150px; */
}

.position-six {
  top: 80px;
  /* left: -200px; */
}

.position-seven {
  top: 100px;
  /* left: -150px; */
}

main {
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  position: relative;
}

.profile-photo {
  align-self: center;
}
/* .about-triangle-container {

} */

.about-position-one {
  top: 1.8rem;
  right: 2rem;
}
.about-position-two {
  left: 7rem;
  bottom: 4rem;
}
.about-position-three {
  bottom: 6rem;
  right: 7rem;
}

.contact {
  z-index: -4;
}

.contact-container {
  position: relative;
  top: 5vh;
  width: calc(2 * var(--medium-triangle-size));
  height: calc(1.73 * var(--medium-triangle-size));
}

.contact-triangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 8;
  bottom: calc(1.73 * var(--medium-triangle-size) * 0.9);
  height: 100%;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -9;
  background: orange;
  /* margin-top: calc(0.1 * var(--medium-triangle-size)); */
  height: 10%;
  width: 35%;
  border-radius: 12px;
  overflow: hidden;
}

.contact-triangle button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 6;
  height: calc(100% - 0.6em);
  width: calc(100% - 0.8em);
  background-color: red;
}

.contact-triangle button::before {
  content: "";
  position: absolute;
  z-index: -3;
  width: 120%;
  height: 200%;
  background-color: hotpink;
  transform: translateX(-100%);

  transition: transform 0.4s ease;
}

.contact-triangle button:hover::before,
.contact-triangle button:focus::before {
  transform: translateX(0%);
}

.contact-triangle button::after {
  content: "";
  position: absolute;
  z-index: -2;
  width: calc(100% + 0.4em);
  height: calc(100% + 0.2em);
  left: -0.2em;
  top: -0.1em;
  border-radius: 8px;
  background-color: white;
  transition: background-color 0.2s ease;
}

.contact-triangle button:active::after {
  background-color: hotpink;
}
